.new-league-button {
  width: 120px;
  height: 50px;
  margin: 60px;
  background-color: tomato;
  cursor: pointer;
}

.leagues-page {
  margin-top: 64px;
  background-color: white;
  height: 100%;
  width: 100%;
}
