button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #f50629 0%, #fd9d08 100%);
  border-radius: 3px;
  margin-top: 20px;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 1rem;
}

button:disabled {
  background-color: rgb(136, 138, 139);
} 

